body {
	margin: 20px;
}
.product-container {
	display: flex;
	flex-wrap: wrap;
}
.product {
	width: 300px;
	border: 1px solid black;
	border-radius: 15px;
	padding: 10px;
	margin: 0 20px 20px 0;
}

.menu a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}

a.active {
	text-decoration: underline;
}

.search-container {
	display: flex;
	flex-direction: column;
	max-width: 200px;
	margin-bottom: 20px;
}

.search-container input {
	max-width: 50px;
}

.no-products {
	color: red;
}

.icon {
	float: right;
}

/* .fa {
	color: yellow;
} */
